div {
  width: 35vmin;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.pokemon-textbox {
  max-width: 50vmin;
  min-height: 8vmin;
  padding: 1vmin 2vmin;
  margin: 2vmin auto;
  text-align: center;
  background-color: #2a4280;

  /* The Border Stack (Inner to Outer) */
  border-radius: 8px;
  box-shadow:
    0 0 0 2px #505050,
    /* Inner dark line */ 0 0 0 6px #ffcb05,
    /* Main orange/tan frame */ 0 0 0 8px #505050; /* Outer dark outline */
}
